<?xml version="1.0" encoding="utf-8" ?>
<siteconfig>
  <!--请正确填写网站域名（必填）-->
  <sitedomain>http://www.odnshop.com/</sitedomain>
  <!--mysql数据库链接字符串（必填）-->
  <dbconnstr>server=localhost;User Id=root;password=11111111;Database=odnshop;pooling=false;character set=utf8</dbconnstr>
  <!--Cookie域-->
  <cookiedomain></cookiedomain>
  <!--Cookie名称-->
  <cookiename>odnshop</cookiename>
  <!--Cookie信息加密附加字符-->
  <cookieencryptionsalt>odnshopccs</cookieencryptionsalt>
  <!--微信公众号的AppId（必填）-->
  <wxappid>wxappid</wxappid>
  <!--微信公众号的AppSecret(应用密钥)（必填）-->
  <wxappsecret>wxappsecret</wxappsecret>
  <!--是否演示模式，如果在没有接入公众号的情况调试，比如没有公众号或者在本地调试设为true，正式运行设为false（注意！）-->
  <VShopShowMode>true</VShopShowMode>
</siteconfig>
