<?xml version="1.0" encoding="utf-8"?>
<TenpayConfig>
  <!--微信公众号的AppId（必填）-->
  <APPID>id</APPID>
  <!--微信公众号的AppSecret(应用密钥)（必填）-->
  <APPSECRET>sec</APPSECRET>
  <!--商户号（必填）-->
  <MCHID>mch</MCHID>
  <!--商户支付密钥（必填）-->
  <KEY>key</KEY>
  <!--支付结果通知回调url（把下面的www.odnshop.com修改为你的域名即可）-->
  <NOTIFYURL>http://www.odnshop.com/vshop/pay/wxpaynotify.aspx</NOTIFYURL>
</TenpayConfig>
